a:hover .button {
	color: #0066CC;
}

a.button {
	background: url(../IMG/button.gif);
	display: block;
	color: #555555;
	font-weight: bold;
	height: 30px;
	line-height: 29px;
	margin-bottom: 14px;
	text-decoration: none;
	width: 191px;
}

.add {
	background: url(../IMG/add.gif) no-repeat 10px 8px;
	text-indent: 30px;
	display: block;
}

span.reference {
    position: fixed;
    left: 5px;
    top: 5px;
    font-size: 10px;
    text-shadow: 1px 1px 1px #fff;
}

span.reference a {
    color: #555;
	text-decoration: none;
	text-transform: uppercase;
}

span.reference a:hover {
    color: #000;       
}

h1 {
    color: #ccc;
    font-size: 36px;
    text-shadow: 1px 1px 1px #fff;
    padding: 20px;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    color: #444444;
    font-size: 13px;
    background: #f2f2f2;
    font-family: "Century Gothic", Helvetica, sans-serif;
}

#content {
    margin: 95px auto;
    text-align: center;
    width: 600px;
    /*  position: relative; a toujours le focus malgré le scool */
    height: 100%;
}
#wrapper {
    -moz-box-shadow: 0px 0px 3px #aaa;
    -webkit-box-shadow: 0px 0px 3px #aaa;
    box-shadow: 0px 0px 3px #aaa;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 0px;										/* bordure générale */
    border: 2px solid #fff;
    background-color: #f9f9f9;
    width: 600px;
    overflow: hidden;
}

#steps {
    width: 600px;
	/*height:320px;*/
    overflow: hidden;
}

.step {
    float: left;
    width: 600px;
	/*height:320px;*/
}

#navigation {
    height: 45px;
    background-color: #e9e9e9;
    border-top: 1px solid #fff;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0px;							/* bordure bouton bas gauche */
    border-bottom-right-radius: 0px;						/* bordure bouton bas droit */
}

#navigation ul {
    list-style: none;
	float: left;
	margin-left: 22px;
}

#navigation ul li {
	float: left;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    position: relative;
    /*  position: relative; a toujours le focus malgré le scool */
	margin: 0px 2px;
}

#navigation ul li a {
    display: block;
    height: 45px;
    background-color: #444;
    color: #777;
    outline: none;
    font-weight: bold;
    text-decoration: none;
    line-height: 45px;
    padding: 0px 20px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    background: #f0f0f0;
    background:
        -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.09, rgb(240,240,240)),
        color-stop(0.55, rgb(227,227,227)),
        color-stop(0.78, rgb(240,240,240))
        );
    background:
        -moz-linear-gradient(
        center bottom,
        rgb(240,240,240) 9%,
        rgb(227,227,227) 55%,
        rgb(240,240,240) 78%
        );
}

#navigation ul li a:hover,
#navigation ul li.selected a {
    background: #d8d8d8;
    color: #666;
    text-shadow: 1px 1px 1px #fff;
}

span.checked {
    background: transparent url(../IMG/form/checked.png) no-repeat top left;
    position: absolute;
    top: 0px;
    left: 1px;
    width: 20px;
    height: 20px;
}

span.error {
    background: transparent url(../IMG/form/error.png) no-repeat top left;
    position: absolute;
    top: 0px;
    left: 1px;
    width: 20px;
    height: 20px;
}

#steps form fieldset {
    border: none;
    padding-bottom: 20px;
}

#steps form legend {
    text-align: left;
    background-color: #f0f0f0;
    color: #666;
    font-size: 24px;
    text-shadow: 1px 1px 1px #fff;
    font-weight: bold;
    float: left;
    width: 590px;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #d9d9d9;
}

#steps form p {
    float: left;
    clear: both;
    margin: 5px 0px;
    background-color: #f4f4f4;
    border: 1px solid #fff;
    width: 400px;
    padding: 10px;
    margin-left: 100px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 0px;										/* bordure labels */
    -moz-box-shadow: 0px 0px 3px #aaa;
    -webkit-box-shadow: 0px 0px 3px #aaa;
    box-shadow: 0px 0px 3px #aaa;
}

#steps form p label {
    width: 160px;
    float: left;
    text-align: left;										/* position des labels */
    margin-right: 15px;
    line-height: 26px;
    color: #666;
    text-shadow: 1px 1px 1px #fff;
    font-weight: bold;
}

#steps form input:not([type=radio]),
#steps form textarea,
#steps form select {
    background: #ffffff;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 0px;										/* bordure pour les input */
    outline: none;
    padding: 5px;
    width: 200px;
    float: left;
}

#steps form input:focus {
    -moz-box-shadow: 0px 0px 3px #aaa;
    -webkit-box-shadow: 0px 0px 3px #aaa;
    box-shadow: 0px 0px 3px #aaa;
    background-color: #FFFEEF;
}

#steps form p.submit {
    background: none;
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#steps form button {
	border: none;
	outline: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 0px;										/* bordure pour les boutons */
    color: #ffffff;
    display: block;
    cursor: pointer;
    margin: 0px auto;
    clear: both;
    padding: 7px 15px;
    text-shadow: 0 1px 1px #777;
    font-weight: bold;
    font-family: "Century Gothic", Helvetica, sans-serif;
    font-size: 22px;
    -moz-box-shadow: 0px 0px 3px #aaa;
    -webkit-box-shadow: 0px 0px 3px #aaa;
    box-shadow: 0px 0px 3px #aaa;
    background: #4797ED;
}

#steps form button:hover {
    background: #d8d8d8;
    color: #666;
    text-shadow: 1px 1px 1px #fff;
}

#steps form p.erreur {
	color: red;
}

#steps form label.property {
	color: peru;
}